.nav {
    width: 100%;
    height: $nav-height;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    //background: white;

    &-content {
        width: 100%;
        @include flex(100%, row, center, space-between);
    }


    &-list {
        display: none;
    }


    &-sm {
        display: none;
    }
}

.logo {
    img {
        width: 12rem;
    }

    &-white {
        filter: brightness(0) invert(1);
    }
}