$black: #121212;
$dark: #333;
$white: #fff;
$gray: #919191;
$light-gray: #dddddd;
$medium-gray: #919191;

$main-color: #9061c2;
$secondary-color: #02adad;


$font-stack: 'Poppins', Arial, Helvetica, sans-serif;
$playball: 'Playball', sans-serif;
$playfair: 'Playfair', sans-serif;
$play-fair-italic: 'Playfair' italic;

$max-width: 1200px;
$nav-height: 8rem;
$tablet: 768px;
$pc: 1200px;

$t-time: 250ms;
$t-timing: ease-in-out;