.container {
  max-width: $max-width;
  margin: 0 auto;
  padding: 0 3rem;
}

.no-padding {
  padding: 0 !important;
}

.align-center {
  max-width: 60rem;
  margin: 0 auto;
}

.center {
  @include flex(auto, column, center, center);
  margin: 3rem 0;
}

// BG
.bg {
  &-main {
    @include set-bg-color($main-color);
  }
  &-light-gray {
    @include set-bg-color(#fafafa);
  }
}

// Text
.text-center {
  width: 100%;
  padding: 0 1rem;
  max-width: 80rem;
  @include absolute;
  text-align: center;
  z-index: 20;
}

.align-text {
  max-width: 60rem;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 1.5rem;
}

.large {
  font-size: 5rem;
  font-family: $playball;
  font-weight: 400;
  text-transform: capitalize;
  margin-bottom: 2.5rem;
}

.sub-heading {
  color: $main-color;
  font-size: 3.3rem;
  font-family: $playball;
  font-weight: 400;
}

.heading {
  font-size: 3.5rem;
  font-weight: 400;

  &::first-letter {
    text-transform: capitalize;
  }
}

.bigger {
  font-size: 1.7rem;
  color: $grayish;
  font-family: $playfair;
  font-weight: 400;
  line-height: 3rem;
  letter-spacing: 0.1rem;
}

.big-text {
  font-size: 3.6rem;
  font-family: $playball;
  font-weight: 500;
  text-transform: capitalize;
  line-height: 1;
  margin-bottom: 0;
  text-align: center;
}

.white-text {
  color: $white;

  span {
    font-style: italic;
    color: rgba(255, 255, 255, 0.65);
    text-transform: capitalize;
  }
}

.img-wrapper {
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.section-img {
  width: 100%;
  height: 56rem;
}

@include media("tablet") {
  .large {
    font-size: 8rem;
  }
  .sub-heading {
    font-size: 3.5rem;
  }
  .heading {
    font-size: 3.7rem;
  }
  .bigger {
    font-size: 1.9rem;
  }

  .section-img {
    width: 45%;
  }

  .big-text {
    font-size: 4.4rem;
  }
}

@include media("pc") {
  .large {
    font-size: 9rem;
  }
  .sub-heading {
    font-size: 3.7rem;
  }
  .heading {
    font-size: 3.9rem;
    font-weight: 500;
  }
  .bigger {
    font-size: 2rem;
  }
  .section-img {
    height: 75rem;
  }
}
