.container {
    max-width: $max-width;
    margin: 0 auto;
    padding: 0 3rem;
}

// Text
.text-center {
    width: 90%;
    max-width: 60rem;
    @include absolute;
    text-align: center;
    z-index: 20;
}

.large {
    font-size: 5rem;
    font-family: $playball;
    font-weight: 400;
    text-transform: capitalize;
    margin-bottom: 2.5rem;
}


@include media('tablet') {
    .large {
        font-size: 8rem;
    }
}

@include media('pc') {
    .large {
        font-size: 9rem;
    }
}